.login-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the login form horizontally */
  padding: 10px;
}

.auth-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure card width fits on smaller screens */
}

.img-logo {
  display: flex;
  justify-content: center;

  .logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    vertical-align: middle;
  }
}

.auth-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.auth-button-container {
  margin-top: 20px;
}

.auth-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.action-link {
  text-transform: none;
}

/* Media query for screens less than 800px */
@media (max-width: 800px) {
  .auth-card {
    max-width: 100%; /* Card takes full width on smaller screens */
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .auth-title {
    font-size: 20px; /* Reduce title font size */
    margin-bottom: 15px;
  }

  mat-form-field {
    font-size: 14px; /* Adjust font size for input fields */
  }

  .auth-actions {
    flex-direction: column; /* Stack buttons vertically on mobile */
    gap: 10px; /* Add space between buttons */
  }

  button.mat-raised-button {
    font-size: 16px; /* Adjust button font size */
    padding: 12px 20px; /* Increase button padding */
  }
}

