.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .budget-exceeded {
    color: red;
    font-weight: bold;
    margin-top: 8px;
  }
}

.header-card{
  font-family: 'Poppins', sans-serif;
  mat-card-title{
    font-family: 'Poppins', sans-serif;
  }
  mat-card-subtitle{
    font-family: 'Poppins', sans-serif;
  }
}

.summary-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.summary-card {
  flex: 1;
  min-width: 200px;
  cursor: pointer;
  background-color: #E9EED9; 
  border: 1px solid #ddd;
  border-radius: 8px; 
  padding: 15px; 
  transition: transform 0.2s;
  
  // Hover effect
  &:hover {
    transform: scale(1.05); 
  }
  mat-card-title{
    font-family: 'Poppins', sans-serif;
  }
}

.chart-card{
  mat-card-title{
    font-family: 'Poppins', sans-serif;
  }
}

// .chart-container {
//   position: relative;
//   height: 400px;
// }
.chart-container {
  position: relative;
  height: 400px; // Default height for larger screens
  width: 100%; // Ensure it occupies the full width of its container
  display: flex;
  justify-content: center; // Center the chart horizontally

  @media (max-width: 600px) {
    height: 300px; // Reduce the height for smaller screens
    padding: 10px; // Add padding to ensure proper spacing
  }

  canvas {
    max-width: 100%; // Ensure the chart resizes properly
    height: 100% !important; // Maintain aspect ratio
  }
}


.transactions-card {
  max-height: 300px;
  // overflow: auto;
}

/* Responsive design */
@media (max-width: 600px) {
  .summary-cards {
    flex-direction: column;
  }

  .summary-card {
    min-width: 100%;
  }
}
