<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
  <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="editProfileForm.invalid">Save Changes</button>
</mat-dialog-actions>

