<div class="notifications">
  <mat-card *ngIf="notifications.length > 0; else noNotifications">
    <mat-card-title>Notifications</mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let notification of notifications">
        <p mat-line>{{ notification.message }}</p>
        <p mat-line class="timestamp">{{ notification.timestamp | date: 'short' }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card>
  
  <ng-template #noNotifications>
    <mat-card>
      <mat-card-title>No notifications yet</mat-card-title>
      <p >Wait for the original time you fixed on the settings </p>
    </mat-card>
  </ng-template>

</div>

  
