/* Apply Poppins font-family globally */
:root {
  font-family: 'Poppins', sans-serif;
}

.app-container {
  background-image: url('/assets/app-logo.png');
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

mat-sidenav {
  width: 250px;
  background-color: var(--mat-primary, #1976d2); // Angular Material primary color
  color: #ffffff;

  .sidenav-toolbar {
    color: #ffffff;
    font-weight: bold;
  }
}

mat-sidenav-content {
  font-family: 'Poppins', sans-serif;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: 'Poppins', sans-serif;
}

mat-nav-list a {
  font-family: 'Poppins', sans-serif !important;
  color: inherit;
  margin: 3px 0;
  display: flex;
  align-items: center;

  

  &.active-link {
    background-color: #FF6500;
    font-weight: bold;
    border-radius: 10px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-name {
    font-weight: bold;
    color: #ffffff;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 50%;
  }

  .content {
    padding: 10px;
  }

  mat-toolbar {
    padding: 10px;
    font-size: 14px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
