<div class="img-container">

  <img src="assets/Ceo.jpg" alt="">
 </div>
<h2 mat-dialog-title align="center">Email Us</h2>
<div mat-dialog-content>
  <p>If you have any suggestions or feedback on how we can improve the app, please don't hesitate to reach out to us!</p>

  <!-- Email Contact -->
  <p>
    <mat-icon aria-hidden="false" aria-label="Email">email</mat-icon>
    <a href="mailto:okekekingsley558@gmail.com">okekekingsley558&#64;gmail.com</a>
  </p>

  <!-- Phone Contact -->
  <p>
    <mat-icon aria-hidden="false" aria-label="Phone">phone</mat-icon>
    <a href="tel:+2347039007552">07039007552</a>
  </p>
</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" mat-dialog-close>OK</button>
</div>

