
mat-dialog-content {
    text-align: center;
  }
  
  mat-dialog-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  mat-dialog-actions {
    justify-content: center;
  }
  
  @media (max-width: 800px) {
    mat-dialog-content {
      padding: 10px; /* Reduce padding for smaller screens */
    }
  
    mat-dialog-title {
      font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
  
    mat-dialog-actions {
      flex-direction: column; /* Stack actions vertically */
      gap: 10px; /* Add spacing between buttons */
    }
  }
